body {
  font-family: sans-serif;
  width: 1280px;
  margin: 0 auto;
}
.head-title-link {
  font-size: 80px;
  line-height: 94px;
}
.head-title-span {
  color: #4bcaff;
}
.head-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #35444f;
  width: 1280px;
  margin-bottom: 44px;
}
.head-menu-item {
  padding: 20px;
  border-left: 1px solid white;
}
.head-menu-link {
  font-size: 24px;
  line-height: 28px;
  color: white;
}
.head-menu-item:last-child {
  border-right: 1px solid white;
}
.head-menu-item:hover {
  background: #222f3a;
  transition: 0.5s;
}
main {
  display: flex;
  justify-content: space-between;
}
.main-menu {
  display: flex;
  flex-direction: column;
  width: 344px;
  border: 1px solid black;
  height: 395px;
}
.main-menu-link {
  color: black;
  display: block;
  padding: 26px;
  padding-left: 42px;
  color: #495863;
  font-size: 27px;
  line-height: 27px;
}
.main-menu-link:hover {
  width: auto;
  background: #dbdbdb;
  color: black;
  text-align: center;
  transition: 1s;
}
.img-content {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 885px;
  height: 529px;
}
.text {
  display: flex;
  justify-content: flex-end;
  padding-top: 37px;
  font-size: 18px;
  line-height: 24px;
}
.text-content {
  width: 885px;
}
.container_footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #9ea3a8;
  font-size: 28px;
  line-height: 28px;
  padding: 15px;
  margin-top: 54px;
  margin-bottom: 30px;
}
.footer__list {
  margin-left: 144px;
}
.footer_link:hover {
  width: 100%;
  color: darkcyan;
  text-decoration: underline;
}
